@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.listGroup {
  margin: 0;
}

.listGroupSizeSmall {
  padding-left: 0px;

  + .listGroupSizeSmall {
    margin-top: 10px;
  }
}

.listGroupSizeMedium {
  padding-left: 5px;

  + .listGroupSizeMedium {
    margin-top: 16px;
  }
}

.listGroupSizeLarge {
  padding-left: 10px;

  + .listGroupSizeLarge {
    margin-top: 24px;
  }
}

.listGroupTypeUnOrdered {
}
.listGroupTypeOrdered {
}
.listItemSizeSmall {
  font-size: 10px;
}

.listItemSizeMedium {
  font-size: 16px;
}

.listItemSizeLarge {
  font-size: 24px;
}

.listGroupColorWhite {
  color: colors.$white;
}
.listGroupColorLight {
  color: colors.$light;
}
.listGroupColorSilver {
  color: colors.$silver;
}

.listGroupColorAsh {
  color: colors.$ash;
}
.listGroupColorDark {
  color: colors.$dark;
}
.listGroupColorBlack {
  color: colors.$black;
}
