@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.spinnerWrapper {
  display: block;
  overflow: hidden;

  /* for storybook */
  width: 20px;
  height: 20px;
}

.spinner {
  mask-repeat: no-repeat;
  mask-size: contain;
}
.spinner:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.spinnerImgCircle {
  mask-image: url("../assets/img/spinner_circle.svg");
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.5, 0.51, 0.51, 0.52);
  animation-iteration-count: infinite;
}
.spinnerImgNone {
  background-color: transparent;
}
.spinnerColorRed {
  background-color: colors.$red;
}
.spinnerColorBlue {
  background-color: colors.$blue;
}

.spinnerColorYellow {
  background-color: colors.$yellow;
}

.spinnerColorGreen {
  background-color: colors.$green;
}

.spinnerColorWhite {
  background-color: colors.$white;
}

.spinnerColorBlack {
  background-color: colors.$black;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
