@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

/* hide defoult input */
.checkbox {
  display: initial;
  position: relative;
  opacity: 0;
}

/* make square before label */
.checkbox + label::before {
  content: "";
  position: absolute;
  border: 1px solid #343434;
  width: 16px;
  height: 16px;
  top: 0;
}

/* focus for square */
.checkbox:focus + label::before {
  border: 1px solid colors.$red;
}

/* set SVG position and size */
.checkbox + label > svg {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 5px;
  left: 3px;
  top: 2px;
}

/* unchecked  */
.checkbox + label > svg > path {
  fill: none;
  stroke: colors.$red;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke-opacity: 0;
  stroke-width: 8px;
  transition: stroke-dashoffset 0.1s ease-out;
}

/* checked */
.checkbox:checked + label > svg > path {
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

/* label position */
.checkbox + label {
  left: -30px;
  position: relative;
}

/* hover */
.checkboxLabel {
  cursor: pointer;
}
