@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.heading2 {
  margin: 0;
}
.heading2SizeXtraSmall {
  font-size: 10px;
}

.heading2SizeSmall {
  font-size: 16px;
}

.heading2SizeMidium {
  font-size: 24px;
}

.heading2SizeLarge {
  font-size: 32px;
}

.heading2SizeXtraLarge {
  font-size: 48px;
}

.heading2ColorWhite {
  color: colors.$white;
}
.heading2ColorLight {
  color: colors.$light;
}

.heading2ColorSilver {
  color: colors.$silver;
}

.heading2ColorAsh {
  color: colors.$ash;
}

.heading2ColorDark {
  color: colors.$dark;
}
.heading2ColorBlack {
  color: colors.$black;
}

.heading2DecorationNone {
  text-decoration: none;
}

.heading2DecorationUnderline {
  text-decoration: 4px underline colors.$accentColor;
}
