@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.button {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  display: flex;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-out,
    border-bottom 0.2s ease-out;
  border-bottom: 4px solid colors.$shadow;
  outline: none;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    border-bottom: 0px solid transparent;
    transform: translateY(4px);
  }
  &:disabled {
    border-bottom: none;
    background-color: colors.$ash;
    color: colors.$light;
    cursor: not-allowed;
    &:hover {
      opacity: 1;
    }
  }
}

.buttonColor--normal {
  color: colors.$white;
  background-color: colors.$blue;
}
.buttonColor--danger {
  color: colors.$white;
  background-color: colors.$red;
}

.buttonSize--small {
  @include px2rem.font-size(12);
  padding: 12px 16px 10px;
}
.buttonSize--medium {
  @include px2rem.font-size(14);
  padding: 14px 20px 10px;
}
.buttonSize--large {
  @include px2rem.font-size(16);
  padding: 16px 24px 12px;
}
