@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.iconSearch {
  background-image: url(../assets/img/icon_search.svg);
}
.iconExternallink {
  background-image: url(../assets/img/icon_externallink.svg);
}

.iconInternallink {
  background-image: url(../assets/img/icon_allow.svg);
}
.iconNone {
  background-image: none;
}

.iconSizeLarge {
  height: 16px;
  width: 16px;
}
.iconSizeMedium {
  height: 14px;
  width: 14px;
}
.iconSizeSmall {
  height: 12px;
  width: 12px;
}
