@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.icon {
  mask-repeat: no-repeat;
  mask-size: contain;
}
.icon:before {
  content: "　";
}

.iconColorRed {
  background-color: colors.$red;
}
.iconColorBlue {
  background-color: colors.$blue;
}

.iconColorYellow {
  background-color: colors.$yellow;
}

.iconColorGreen {
  background-color: colors.$green;
}

.iconColorWhite {
  background-color: colors.$white;
}

.iconColorBrack {
  background-color: colors.$black;
}

.iconSearch {
  mask-image: url("../assets/img/icon_search.svg");
}
.iconExternallink {
  mask-image: url("../assets/img/icon_externallink.svg");
}

.iconInternallink {
  mask-image: url("../assets/img/icon_allow.svg");
}

.iconTelephone {
  mask-image: url("../assets/img/icon_tel.svg");
}
.iconMail {
  mask-image: url("../assets/img/icon_mail.svg");
}

.iconUp {
  mask-image: url("../assets/img/icon_up.svg");
}
.iconDown {
  mask-image: url("../assets/img/icon_down.svg");
}

.iconNone {
  background-image: none;
  background-color: transparent;
  height: 0;
  width: 0;

  &:before {
    content: "";
  }
}
