@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.icon {
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.icon--search {
  background-image: url(../assets/img/icon_search.svg);
}
.icon--externallink {
  background-image: url(../assets/img/icon_externallink.svg);
}

.iconSize--large {
  width: 16px;
  height: 16px;
}
.iconSize--medium {
  width: 14px;
  height: 14px;
}
.iconSize--small {
  width: 12px;
  height: 12px;
}
