@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.input--letter {
  background-color: colors.$light;
  border: none;
  border-radius: 10px;
  color: colors.$dark;
  font-size: 16px;
  outline: 0;
  padding: 12px;
}

.input--text {
}
.input--number {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  -moz-appearance: textfield;

  /* OK */
  &:invalid {
    color: colors.$red;
  }
  /* NG */
  &:valid {
    color: colors.$green;
  }
}
.input--email {
  /* OK */
  &:invalid {
    color: colors.$red;
  }
  /* NG */
  &:valid {
    color: colors.$green;
  }
}
.input--tel {
  /* OK */
  &:invalid {
    color: colors.$red;
  }
  /* NG */
  &:valid {
    color: colors.$green;
  }
}
