@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.input--letter {
  outline: none;
  background-color: colors.$light;
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  color: colors.$dark;
}

.input--text {
}
.input--number {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  -moz-appearance: textfield;
}
