@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

.paragraph {
  margin: 0;
}

.paragraphSizeSmall {
  @include px2rem.font-size(10);
  line-height: 1.6;

  + .paragraphSizeSmall {
    margin-top: 10px;
  }
}

.paragraphSizeMedium {
  @include px2rem.font-size(16);
  line-height: 1.5;

  + .paragraphSizeMedium {
    margin-top: 16px;
  }
}

.paragraphSizeLarge {
  @include px2rem.font-size(24);
  line-height: 1.4;

  + .paragraphSizeLarge {
    margin-top: 24px;
  }
}
.paragraphSizeXtraLarge {
  @include px2rem.font-size(36);
  line-height: 1.3;

  + .paragraphSizeXtraLarge {
    margin-top: 36px;
  }
}

.paragraphColorWhite {
  color: colors.$white;
}
.paragraphColorLight {
  color: colors.$light;
}

.paragraphColorSilver {
  color: colors.$silver;
}

.paragraphColorAsh {
  color: colors.$ash;
}

.paragraphColorDark {
  color: colors.$dark;
}
.paragraphColorBlack {
  color: colors.$black;
}
