//Theme Color
$mainColor: #000000;
$subColor: #000000;
$accentColor: #000000;

//Achromatic Color
$blue: #0984e3;
$red: #d63031;
$yellow: #fdcb6e;
$green: #00b894;
$water: #74b9ff;

$shadow: #424242;

//Chromatic Color
$white: #ffffff;
$light: #dfe6e9;
$silver: #b2bec3;
$ash: #636e72;
$dark: #2d3436;
$black: #333333;
