@use "../assets/scss/_font.scss";
@use "../assets/scss/_colors.scss";
@use "../assets/scss/_px2rem.scss";
@use "../assets/scss/_mediaQuery.scss";

/* hide defoult input */
.radioButton {
  display: initial;
  opacity: 0;
  position: relative;
}

/* make square before label */
.radioButton + .radioLabel::before {
  border: 2px solid #2d3436;
  content: "";
  height: 16px;
  top: 0px;
  position: absolute;
  width: 16px;
}

/* focus for square */
.radioButton:focus + .radioLabel::before {
  border: 2px solid colors.$red;
}

/* set SVG position and size */
.radioButton + .radioLabel > svg {
  height: 20px;
  left: 3px;
  margin-right: 5px;
  position: relative;
  top: 3px;
  width: 20px;
}

/* unchecked  */
.radioButton + .radioLabel > svg > path {
  fill: none;
  stroke: colors.$green;

  stroke-dasharray: 130;
  stroke-dashoffset: 100;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-opacity: 0;
  stroke-width: 8px;
  transition: stroke-dashoffset 0.2s ease-out;
}

/* checked */
.radioButton:checked + .radioLabel > svg > path {
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

/* label position */
.radioButton + .radioLabel {
  color: #2d3436;
  left: -30px;
  position: relative;
}

/* hover */
.radioLabel {
  cursor: pointer;
}
